__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/
.DS_Store

# data & outputs (never commit WSIs / big artifacts)
data/
pre/
runs/
outputs/
*.svs
*.tif*
*.ndpi
*.mrxs
*.scn
*.dcm

# models / logs
checkpoints/
*.ckpt
*.pth

